version: "3.9"

services:
  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile.dev
    container_name: flask_back-end
    ports:
      - "5000:5000"
    volumes:
      - ./back-end:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
      - FLASK_HOST=0.0.0.0
      - FLASK_PORT=5000
    depends_on:
      - fuseki
    networks:
      - app-network

  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile.dev
    container_name: react_front-end
    ports:
      - "3000:3000"
    volumes:
      - ./front-end/src:/app/src
      - ./front-end/public:/app/public
      - /app/node_modules
    environment:
    - CHOKIDAR_USEPOLLING=true
    - CHOKIDAR_INTERVAL=100
    - REACT_APP_SPARQL_URL=http://backend:5000/sparql
    depends_on:
      - backend
    networks:
      - app-network

  fuseki:
    image: stain/jena-fuseki
    container_name: fuseki_server
    ports:
      - "3030:3030"
    volumes:
      - ./fuseki_data:/fuseki
    command: --mem /ds
    networks:
      - app-network

networks:
  app-network:
    driver: bridge